
body {
  font-family: 'Oswald', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: transparent;
  color: #112d5d;
  font-size: 16px;
}

.ForgotPasswordFormTable td {
  padding: 5px;
}

input[type=text] {
  width: 100%;
  margin: 0px 0px;
  box-sizing: border-box;
  font-size: 13px;
  padding: 4px;
  line-height: 15px;
  font-weight: 800;
  text-align: left;
}

.submit-form-button {
  border: 1px solid #112d5d;
  box-shadow: 1px 1px 2px #333;
  text-transform: uppercase;
  /* color: #112d5d; */
  font-size: 16px;
  white-space: nowrap;
  overflow: visible;
  padding: 5px;
  line-height: 20px;
  margin: 10px 0 10px 0;
  font-weight: 800;
  text-align: center;
  width: 100%;
  -webkit-appearance: none;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  background: rgb(248, 216, 112);
  background: linear-gradient(0deg, rgba(248, 216, 112, 1) 0%, rgba(221, 186, 68, 1) 35%, rgba(255, 223, 119, 1) 100%);
}


.retrievePw, .retrievePw:focus, .retrievePw:before, .retrievePw:after {
  box-sizing: border-box;
  font-weight: 400;
  font-family: "Oswald",sans-serif;
  font-size: 1em;
  line-height: 1.15;
}

.retrievePw input[type=text] {
  width: 100%;
  padding: 5px;
  margin: 4px 0;
  color: #182e5a;
  background: #efefef;
  border: 0;
  border-radius: 4px;
  box-shadow:0 0 4px 2px rgba(0,0,0,0.06);
}

.resetPwForm input[type=text]:hover, .resetPwForm button:hover  { background: #ffffff; box-shadow:0 0 2px 1px rgba(0,0,0,0.15); }

.resetPwForm input[type=text]:focus {
  border-bottom: 1px solid #b39d61;
}

.resetPwForm input[type=text]:invalid {
  border-bottom: 2px dashed red;
}

.resetPwForm input[type=text]:valid {
 background: #ffffff;
}


.resetPwForm button {
  appearance:none;
  -webkit-appearance:none;

  padding: 10px;
  margin: 4px 0;
  background-color:#3679d0;
  color:#fff;
  border:none;
  box-shadow:0 0 4px 2px rgba(0,0,0,0.06);
  border-radius: 4px;
  text-transform: uppercase;
  width:100%;
}

.resetPwForm button:hover { background: #112d5d;  }

.resetPwForm button span { text-shadow: 2px 1px 0px rgba(17,45,93,.25); letter-spacing: .85px; }


.resetPwForm label {
  display:block;
}

.resetPwForm input:required + span:after {
  content: "Required";
}



/*
body {
    margin:0;
    color:#edf3ff;
    background:#c8c8c8;
    background:url(https://therichpost.com/wp-content/uploads/2021/03/material-design-4k-2048x1152-1.jpg) fixed;
    background-size: cover;
    font:600 16px/18px 'Open Sans',sans-serif;
  }
  :after,:before{box-sizing:border-box}
  .clearfix:after,.clearfix:before{content:'';display:table}
  .clearfix:after{clear:both;display:block}
  a{color:inherit;text-decoration:none}
  .login-wrap{
    width: 100%;
    margin:auto;
    max-width:510px;
    min-height:510px;
    position:relative;
    background:url(https://therichpost.com/wp-content/uploads/2021/03/material-1-1000x563-1.jpg) no-repeat center;
    background-size: cover;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  }
  .login-html{
    width:100%;
    height:100%;
    position:absolute;
    padding:90px 70px 50px 70px;
    background:rgba(0,0,0,0.5);
  }
  .login-html .sign-in-htm,
  .login-html .for-pwd-htm{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    -webkit-transform:rotateY(180deg);
            transform:rotateY(180deg);
    -webkit-backface-visibility:hidden;
            backface-visibility:hidden;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
  }
  .login-html .sign-in,
  .login-html .for-pwd,
  .login-form .group .check{
    display:none;
  }
  .login-html .tab,
  .login-form .group .label,
  .login-form .group .button{
    text-transform:uppercase;
  }
  .login-html .tab{
    font-size:22px;
    margin-right:15px;
    padding-bottom:5px;
    margin:0 15px 10px 0;
    display:inline-block;
    border-bottom:2px solid transparent;
  }
  .login-html .sign-in:checked + .tab,
  .login-html .for-pwd:checked + .tab{
    color:#fff;
    border-color:#1161ee;
  }
  .login-form{
    min-height:345px;
    position:relative;
    -webkit-perspective:1000px;
            perspective:1000px;
    -webkit-transform-style:preserve-3d;
            transform-style:preserve-3d;
  }
  .login-form .group{
    margin-bottom:15px;
  }
  .login-form .group .label,
  .login-form .group .input,
  .login-form .group .button{
    width:100%;
    color:#fff;
    display:block;
  }
  .login-form .group .input,
  .login-form .group .button{
    border:none;
    padding:15px 20px;
    border-radius:25px;
    background:rgba(255,255,255,.1);
  }
  .login-form .group input[data-type="password"]{
    text-security:circle;
    -webkit-text-security:circle;
  }
  .login-form .group .label{
    color:#aaa;
    font-size:12px;
  }
  .login-form .group .button{
    background:#1161ee;
  }
  .login-form .group label .icon{
    width:15px;
    height:15px;
    border-radius:2px;
    position:relative;
    display:inline-block;
    background:rgba(255,255,255,.1);
  }
  .login-form .group label .icon:before,
  .login-form .group label .icon:after{
    content:'';
    width:10px;
    height:2px;
    background:#fff;
    position:absolute;
    -webkit-transition:all .2s ease-in-out 0s;
    transition:all .2s ease-in-out 0s;
  }
  .login-form .group label .icon:before{
    left:3px;
    width:5px;
    bottom:6px;
    -webkit-transform:scale(0) rotate(0);
            transform:scale(0) rotate(0);
  }
  .login-form .group label .icon:after{
    top:6px;
    right:0;
    -webkit-transform:scale(0) rotate(0);
            transform:scale(0) rotate(0);
  }
  .login-form .group .check:checked + label{
    color:#fff;
  }
  .login-form .group .check:checked + label .icon{
    background:#1161ee;
  }
  .login-form .group .check:checked + label .icon:before{
    -webkit-transform:scale(1) rotate(45deg);
            transform:scale(1) rotate(45deg);
  }
  .login-form .group .check:checked + label .icon:after{
    -webkit-transform:scale(1) rotate(-45deg);
            transform:scale(1) rotate(-45deg);
  }
  .login-html .sign-in:checked + .tab + .for-pwd + .tab + .login-form .sign-in-htm{
    -webkit-transform:rotate(0);
            transform:rotate(0);
  }
  .login-html .for-pwd:checked + .tab + .login-form .for-pwd-htm{
    -webkit-transform:rotate(0);
            transform:rotate(0);
  }
  .hr{
    height:2px;
    margin:60px 0 50px 0;
    background:rgba(255,255,255,.2);
  }
  .foot-lnk{
    text-align:center;
  }
  button:focus, input:focus
  {
    outline: none;
  }
   */